.App {
  text-align: center;
}

.date-graph-container {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.time-graph-container {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
